ipyevents>=2.0.1
ipyleaflet
ipympl>=0.8.2
ipywidgets>=8.0.0,<9
jupyterlab~=3.5.1
jupyterlab-geojson>=3,<4
jupyterlab_miami_nights
jupyterlite==0.1.0b18
jupyterlab-tour
jupyterlab-night
ipywidgets
ipyleaflet
pyviz_comms
panel
prosail
numpy
ephem
pandas
pkginfo
